@model IEnumerable<Dominio.Sinal>

    @{
    ViewData["Title"] = "Sinais";
    }

    <h1>Sinais</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Fonte</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sinal in Model)
            {
            <tr>
                <td>@sinal.Nome</td>
                <td>@sinal.Descricao</td>
                <td>@sinal.Fonte</td>
            </tr>
            }
        </tbody>
    </table>
    <!-- botão para redirecionar para a página de adicionar sinal -->
    <a asp-action="Create" class="btn btn-primary">Adicionar Sinal</a>
