@model IEnumerable<Dominio.AssociacaoPosicao>

    @{
    ViewData["Title"] = "Associação de posições";
    }

    <h1>Associação de posições</h1>

    <div class="container">
        <div class="row bg-light text-dark font-weight-bold py-2">
            <div class="col-md-4">Posicao</div>
            <div class="col-md-4">EntradaPosicao</div>
            <div class="col-md-4">Detalhes</div>
        </div>

        @foreach (var ass in Model)
        {
            @Html.Partial("_AssociacaoPosicaoRowPartial", ass);
        }
    </div>

    <a asp-action="Create" class="btn btn-primary mt-3">Adicionar Associacao</a>
