@model IEnumerable<Dominio.Source>

    @{
    ViewData["Title"] = "Destinations";
    }

    <h1>Destinations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Número</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dest in Model)
            {
            <tr>
                <td>@dest.Numero</td>
            </tr>
            }
        </tbody>
    </table>
    
