@model IEnumerable<Dominio.AssociacaoPlatinum>

    @{
    ViewData["Title"] = "Associação Platinum";
    }

    <h1>Associação de Platinum</h1>
    <!--TODO: TROCAR PRA BOOTSTRAP TABLE-->
    
    <!-- bootstrap card -->
        @foreach (var ass in Model)
        {
        
        }


    

    <a asp-action="Create" class="btn btn-primary">Adicionar Associacao</a>



