@model IEnumerable<Dominio.AssociacaoPlatinum>

    @{
    ViewData["Title"] = "Associação Platinum";
    }

    <h1>Associação de Platinum</h1>
    <!--TODO: TROCAR PRA BOOTSTRAP TABLE-->
    
    <!-- bootstrap card -->
    <div class="container">

        @foreach (var ass in Model)
        {
                
            <div>@ass.ToString()</div>
        }
    </div>


    

    <a asp-action="Create" class="btn btn-primary">Adicionar Associacao</a>



