@model IEnumerable<Dominio.AssociacaoPatch>

    @{
    ViewData["Title"] = "Associação de posições";
    }

    <h1>Associação de posições</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Posicao</th>
                <th>EntradaPosicao</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ass in Model)
            { if(ass.IsSignal){
            <tr>
                <td>Rack: 1 , Coluna : 1, Linha: 2</td>
                <td>Sinal</td>
                <td>

                    @Html.Partial("_SinalPartial", new Dominio.Sinal() {Nome = "nome sinal", Descricao = "esse é um sinal da hora", Fonte = "lá do psul"})
                </td>

            </tr>
            }else{
            <tr>
                <td>Rack: 1 , Coluna : 1, Linha: 2</td>
                <td>Source</td>
                <td>Número 1</td>
            </tr>
            }

         

        </tbody>
    </table>
    <a asp-action="Create" class="btn btn-primary">Adicionar Associacao</a>



